{% extends 'base/global.html' %}


{% block content-main %}
<main class="main-content-container">
    <div class="main-content main-content-list container">
        {% include 'recipes/partial/recipe.html' %}
        {% include 'recipes/partial/recipe.html' %}
        {% include 'recipes/partial/recipe.html' %}
        {% include 'recipes/partial/recipe.html' %}
        {% include 'recipes/partial/recipe.html' %}
        {% include 'recipes/partial/recipe.html' %}
        {% include 'recipes/partial/recipe.html' %}
        {% include 'recipes/partial/recipe.html' %}
        {% include 'recipes/partial/recipe.html' %}
    </div>
</main>
{% endblock %}
    